body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove margens padrão */
    background-color: #f4f4f4; /* Opcional: pode ajustar o fundo */
}

.maintenance-container {
    text-align: center;
}